.sdx-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: $input-btn-border solid rgba($input-border-color, .1); 
    border-radius: $input-border-radius;
    .sdx-card-badge {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: 2;
        .sdx-card-badge-item {
            padding: 2px 10px 4px;
            margin-top: $card-badge-margin;
            background-color: red;
            color: #fff;
            font-size: 80%;
            font-weight: 600;
        }
    }
    .sdx-card-img {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: $card-image-aspect-ratio-3-2;
        background-color: #fff;
        display: block;
        img {
            position: absolute;
            width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            user-select: none;
        }
    }
    .sdx-card-body{
        display: block;
        position: relative;
        color: $dark-text-color; 
        padding: $card-body-padding-top-bottom $card-body-padding-left-right;
        width: calc(100% - #{$card-body-padding-left-right});
        width: -webkit-calc(100% - #{$card-body-padding-left-right});
    }
}