.dropdown-content {
    button {
        outline: none;
        border: 0;
        width: $dropdown-default-width; // Overrideable
        padding: $input-padding-top-bottom $input-padding-left-right;
        border: 1px solid $input-border-color;
        border-radius: $input-border-radius;
        background: #fff;
        position: relative;
        cursor: pointer;
        &:after {
            content: '▼';
            position: absolute;
            top: 50%;
            right: 5px;
            color: $input-text-color;
            transform: translate(-50%,-50%);
            font-size: 11px;
        }
        &:hover {
            box-shadow: 0 0 0 0.1rem #2b3996;
            & ~ ul {
                display: block;
            }
        }
    }
    ul { 
        display: none;
        margin: 5px 0 0 0;
        width: calc(#{$dropdown-default-width} - #{$input-padding-left-right} - #{$input-padding-left-right});
        width: -webkit-calc(#{$dropdown-default-width} - #{$input-padding-left-right} - #{$input-padding-left-right});
        padding: $input-padding-top-bottom $input-padding-left-right;
        box-shadow: 0 0 5px 1px #c5c5c5;
        border-radius: $input-border-radius;
        position: absolute;
        z-index: 99;
        background: #ffF;
        font-size: $input-font-size;
        &:hover {
            display: block;
        }
        li {
            list-style-type: none;
            padding: 10px 0;
            border-bottom: 1px solid lighten(#56748f, 40%);
            &:last-child {
                border-bottom:none;
            }
            a {
                color: #56748f;
                text-decoration: none;
            }
        }
    }
}
