.sdx-form-group {
    margin: .5rem 0;
        small {
            display: inline-block;
            margin-bottom: .2rem;
            font-size: 95%;
            margin-top: .5rem;
        }
        textarea.sdx-form-control {
            resize: none;
        }
        .sdx-form-control {
            display: block;
            width: calc(100% - #{$input-padding-left-right} - #{$input-padding-left-right});
            width: -webkit-calc(100% - #{$input-padding-left-right} - #{$input-padding-left-right});
            padding: $input-padding-top-bottom $input-padding-left-right;
            font-size: $input-font-size;
            line-height: 1.5;
            color: $input-text-color;
            background-color: $input-background-color;
            background-clip: padding-box;
            border: 1px solid $input-border-color;
            border-radius: $input-border-radius;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

            &:focus {
                -webkit-box-shadow: 0 0 0 0.15rem rgba($global-blue-color, .15);
                box-shadow: 0 0 0 0.15rem rgba($global-blue-color, .15);
            }
           
        }

        .sdx-form-select {
            @extend .sdx-form-control;
            width: 100%;
        }

        .sdx-form-file {
            @extend .sdx-form-control;
            width: 100%;
        }

        .sdx-form-range {
            @extend .sdx-form-control;
            width: 100%;
        }

        .sdx-form-checkbox {
            display: block;
            line-height: $input-font-size;
            margin: 10px 0;
            label {
                font-size: $input-font-size;
                line-height: $input-font-size;
                margin-left: 5px;
                color: $input-text-color;
                font-weight: 400;
                position: relative;
                &:before {
                    content: '';
                    width: $input-select-marker-width-height;
                    height: $input-select-marker-width-height;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    line-height: 25px;
                    float: left;
                    transition: .3s all;
                }

            }
            input {
                display: none;
                &:checked {
                    & ~ label {
                        &:before {
                            border:1px solid $input-checkbox-active-color;
                            box-shadow: inset 0 0 0 5px #fff;
                            background-color: $input-checkbox-active-color;
                        }
                    }
                } 
            }
        }


        .sdx-form-radio {
            display: block;
            line-height: $input-font-size;
            margin: 10px 0;
            label {
                font-size: $input-font-size;
                line-height: $input-font-size;
                margin-left: 5px;
                color: $input-text-color;
                font-weight: 400;
                position: relative;
                &:before {
                    content: '';
                    width: $input-select-marker-width-height;
                    height: $input-select-marker-width-height;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    line-height: 25px;
                    float: left;
                    transition: .3s all;
                }

            }
            input {
                display: none;
                &:checked {
                    & ~ label {
                        &:before {  
                            border:1px solid $input-checkbox-active-color;
                            box-shadow: inset 0 0 0 5px #fff;
                            background-color: $input-checkbox-active-color;
                        }
                    }
                } 
            }
        }
}

[disabled]{
    pointer-events: none;
    opacity: .65;
}

.sdx-btn{
    cursor: pointer;
    margin: 10px;
    outline: none;
    border: 0;
    padding: 7px 20px;
    box-shadow: 0 0 0 $input-btn-border $global-blue-color;
    border-radius: $input-border-radius;
    background: #fff;
    font-size: .75rem;
    font-weight: 600;
    color: $global-blue-color;
    &:hover{
        color: #fff;
        background: $global-blue-color;
    }
}
.sdx-btn-xl {
    font-size: 1rem;
}

.sdx-btn-lg {
    font-size: .85rem;
}

.sdx-btn-md {
    font-size: .75rem;
}

.sdx-btn-sm {
    font-size: .75rem;
}


.btn-outline {
    color: #fff;
    background: $global-blue-color; 
    &:hover {
        color: $global-blue-color;
        background: #fff
    }
}

.btn-red {
    color: $global-red-color;
    box-shadow: 0 0 0 $input-btn-border $global-red-color;
    &:hover {
        color: #fff;
        background: $global-red-color
    }
}

.btn-red-outline {
    background: $global-red-color;
    color: #fff;
    box-shadow: 0 0 0 $input-btn-border $global-red-color;
    &:hover {
        color: $global-red-color;
        background: #fff
    }
}

.btn-naked {
    box-shadow: 0 0 0 $input-btn-border transparent;
    &:hover {
        color: $global-red-color;
        background: transparent
    }
}