.sdx-tab-wrapper{
    ul{
        padding-left: 0;
        margin-bottom: 0;
        width: 100%;
        box-shadow: 0 2px 0 0 #f5f5f5;
        li{
            display: inline-block;
            a{
                color: $dark-text-color;
                padding: .5em 1em;
                display: block;
                &:hover{
                    box-shadow: 0 2px 0 0 darken(#f5f5f5, 20%);
                }
            }
            .sdx-tab-active{
                box-shadow: 0 2px 0 0 $global-blue-color;
                &:hover{
                    box-shadow: 0 2px 0 0 $global-blue-color;
                }
             }
        }
    }
   
    .sdx-tab-section {
        display: none;
        width: 100%;
        padding: 15px 0;
    } 

    .sdx-tab-section-active{
        display: block;
    }
}

.sdx-tab-wrapper-full{
    @extend .sdx-tab-wrapper;
    ul {
        box-shadow: 0 0 0 2px #f5f5f5;
        li { 
            a{
                &:hover{
                    background-color: darken(#f5f5f5, 20%);
                    color: $global-blue-color;
                    box-shadow: 0 0 0 0 darken(#f5f5f5, 20%);
                }
            }

            .sdx-tab-active{
                box-shadow: 0 0px 0 0 $global-blue-color;
                background-color: $global-blue-color;
                color: #fff;
                &:hover{
                    box-shadow: 0 0px 0 0 $global-blue-color;
                }
             }

        }
       
    }
}