.sdx-table {
    background-color: #fff;
    color: #363636;
    border-collapse: collapse;
    border-spacing: 0; 
    width: 100%;
    td, 
    th {
        color: #363636;
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;    
        padding: .75rem;
        vertical-align: top;
    }

}

.table-strip{
    @extend .sdx-table;
    tbody {
        tr{
            &:nth-child(odd) {
                background-color: #efefef;
            }
        }
    }
}