/*
*   USAGE
* 
*   @include mixin-name;
*   @include mixin-name-with-param($param);
*
*/

@mixin abs-centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

@mixin abs-centerer-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 

@mixin abs-centerer-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 