/*
*   USAGE
* 
*   @include scrollbars(.5em, #d8d8d8);
*
*/
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width:  $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
  
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
  
    // For Internet Explorer
    // body {
    //      scrollbar-face-color: $foreground-color;
    //      scrollbar-track-color: $background-color;
    // }
  }
  
