// Main Colors
$global-red-color       :#ff0000;
$global-gray-color      :#d3d0c9;
$global-blue-color      :#2A295C;
$global-darkgray-color  :#65676a;
$global-white-color     :#ffffff;

$primary-blue :#2A295C;
$primary-red  :#ff0000;
$primary-gray :#d3d0c9;

$secondary-blue :#1F2A2F;
$secondary-red  :#dc2142;
$secondary-gray :#d3d3d3;



// Text Colors
$dark-text-color  :#2b2b2b;
$light-text-color :#f5f5f5;
$link-text-color  :#007bff;



// Other Colors
