
// Forms & Dropdown
$input-padding-left-right : .75rem;
$input-padding-top-bottom : .375rem;
$input-font-size:  1rem;
$input-border-radius : .25rem;
$input-text-color: #495057;
$input-border-color: #c3c7c3;
$input-background-color : #fff;
$input-checkbox-active-color : rgb(146, 206, 25);
$input-select-marker-width-height: 15px;
$input-btn-border: 1px;
$dropdown-default-width:50% !default;


// Cards
$card-image-aspect-ratio-16-9 : 56.25%;
$card-image-aspect-ratio-4-3  : 75%;
$card-image-aspect-ratio-3-2  : 66.66%;
$card-image-aspect-ratio-1-1  : 100%;
$card-image-aspect-ratio-8-5  : 62.5%;
$card-body-padding-left-right : 10px;
$card-body-padding-top-bottom : 7px;
$card-badge-margin: 7px;