#get-started {
    height: calc(100vh - 50px);
    position: relative;
   
    .title-hero {
        position: absolute;
        top: calc(50% - 50px); 
        left: 50%;
        transform: translate(-50%, -50%);
        color: #336699;
        display: block;
        font-size:8.5rem;
        text-align: center; 
        font-weight: 100;
        margin: 0;
        z-index: 2; 
        .download-link {
            position: relative;
            font-size: 13px;
            padding: 15px 20px 13px;
            background-color: #9c0201;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 5px;
            display: block;
            width: 120px;
            margin: 40px auto;
        }
        i {
            font-style: normal;
            color: #9c0201;
            display: inline-block; 
            transform: rotate(0deg);
            transform-origin: center center;
            transition: .5s all;
        }
        // &:hover {
        //     i {
        //         transform: rotate(360deg);
        //     }
        // }
    }
}

hero {
    width: calc(100% - #{$sidenav-width});
    margin-top: 50px;
    float: right;
    display: block;
    padding-bottom: 50px;
    container {
        position: relative;
        width: 620px;
        display: block;
        margin: 0 auto;
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    h2 {
        font-size:1.4rem;
        padding: 50px 0 0 0;
        font-weight: 400;
        color: #2b3996;
        position: relative;
        
        &:after {
            display: block;
            height: 2px;
            margin-top: 7px;
            width: 80px;
            content: '';
            background-color: #f00;
        }
   
    } 
    
    .showcase {
        h6 {
            font-family: 'sansa_problack',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
            font-size:3.5rem;
            margin: 10px 0;
            padding: 0;
            color: #13293d;
            &:nth-child(2) {
                font-family: 'sansa_probold',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
                font-size:3rem;
            }
            &:nth-child(3) {
                font-family: 'sansa_prosemibold',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
                font-size:2.5rem;
            }
            &:nth-child(4) {
                font-family: 'sansa_pronormal',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
                font-size:2rem;
            }
            &:nth-child(5) {
                font-family: 'sansa_prolight',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
                font-size:1.5rem;
            }
            &:nth-child(6) {
                font-family: 'sansa_pronormal',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
                font-size:15px;
            }
        }
    }
    .showcode {
       b {
           display: inline-block;
           transform: translate(10px, 40px);
           color: lighten(#56748f, 30%);
           font-size: 12.5px;
           font-weight: 600;
       }
       code {
        display: block;
        width: 100%;
        overflow-x: scroll;
            &::-webkit-scrollbar {
            width: 2px; 
            height: 3px;
            background-color: rgba(0,0,0,0);
            border-radius: 100px;
          }
          &::-webkit-scrollbar:hover {
            background-color: rgba(0, 0, 0, 0.09);
          }
          
          &::-webkit-scrollbar-thumb:vertical {
            background: rgba(0,0,0,0.5);
            border-radius: 100px;
          }
          &::-webkit-scrollbar-thumb:vertical:active {
            background: rgba(0,0,0,0.61); 
            border-radius: 100px;
          }
       }
    }
} 

#colors {
    color { 
        text-align: center;
        width: 23%;
        line-height: 40px;
        padding: 30px 20px;
        background-color: #9c0201;
        color: #fff;
        display: inline-block;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0px 1px 11px 0px #c7c7c7;
        transition: .3s all;
        &:hover {
            transform: translateY(-4px);
        }
        span {
            display: block;
            font-size: 12px;
            opacity: .7;
        }
        &:nth-child(2) {
            background-color: #336699;
            color: #fff;
        }
        &:nth-child(3) {
            background-color: #545454;
            color: #fff;
        }
        &:nth-child(4) {
            background-color: #13293d;
            color: #fff;
        }
        &:nth-child(5) {
            background-color: #f7f8fa;
            color: #545454;
        }&:nth-child(6) {
            background-color: #ffbd64;
            color: #545454;
        }
    }
}

#form-elements {
    .input-group {
        margin: 10px 0 40px;
        small {
            margin-bottom: 5px;
            font-weight: 400;
            color: #6d6d6d;
            display: block;
        }

        .sdx-input { 
            outline: none;
            border: 0;
            width: calc(100% - 20px);
            padding: 10px;
            box-shadow: 0 0 0 0.1rem #b7b7b7;
            border-radius: .35rem;
            &:focus {
                box-shadow: 0 0 0 0.1rem #2b3996;
            }
        }
        
        .sdx-select {
            outline: none;
            border: 0;
            width: calc(100% - 0px);
            padding: 8px;
            box-shadow: 0 0 0 0.1rem #b7b7b7;
            border-radius: .35rem;
            &:focus {
                box-shadow: 0 0 0 0.1rem #2b3996;
            }
        }

        .dropdown-content {
            button {
                outline: none;
                border: 0;
                padding: 7px 35px 7px 25px;    
                box-shadow: 0 0 0 0.1rem #b7b7b7;
                border-radius: .35rem;
                text-align: center;
                background: #fff;
                position: relative;
                cursor: pointer;
                &:after {
                    content: '▼';
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    color: #545454;
                    transform: translate(-50%,-50%);
                    font-size: 11px;
                }
                &:hover {
                    box-shadow: 0 0 0 0.1rem #2b3996;
                    & ~ ul {
                        display: block;
                    }
                }
            }
            ul { 
                display: none;
                margin: 5px 0 0 0;
                padding: 10px 15px;
                box-shadow: 0 0 5px 1px #c5c5c5;
                border-radius: 5px;
                position: absolute;
                z-index: 99;
                background: #ffF;
                font-size: .85rem;
                &:hover {
                    display: block;
                }
                li {
                    list-style-type: none;
                    padding: 10px 0;
                    border-bottom: 1px solid lighten(#56748f, 40%);
                    &:last-child {
                        border-bottom:none;
                    }
                    a {
                        color: #56748f;
                        text-decoration: none;
                    }
                }
            }
            
        }

        .sdx-btn-xl {
            cursor: pointer;
            margin: 10px 10px 10px 0;
            outline: none;
            border: 0;
            padding: 10px 40px;
            box-shadow: 0 0 0 2px #2b3996;
            border-radius: 3px;
            background: #fff;
            font-size: 1rem;
            font-weight: 600;
            color: #2b3996;
            &:hover{
            color: #fff;
            background: #2b3996;
            }
        }

        .sdx-btn-lg {
            cursor: pointer;
            margin: 10px;
            outline: none;
            border: 0;
            padding: 10px 30px;
            box-shadow: 0 0 0 2px #2b3996;
            border-radius: 3px;
            background: #fff;
            font-size: .85rem;
            font-weight: 600;
            color: #2b3996;
            &:hover {
            color: #fff;
            background: #2b3996;
            }
        }

        .sdx-btn-md {
            cursor: pointer;
            margin: 10px;
            outline: none;
            border: 0;
            padding: 7px 20px;
            box-shadow: 0 0 0 2px #2b3996;
            border-radius: 3px;
            background: #fff;
            font-size: .75rem;
            font-weight: 600;
            color: #2b3996;
            &:hover {
            color: #fff;
            background: #2b3996;
            }
        }

        .sdx-btn-sm {
            cursor: pointer;
            margin: 10px;
            outline: none;
            border: 0;
            padding: 5px 15px;
            box-shadow: 0 0 0 2px #2b3996;
            border-radius: 3px;
            background: #fff;
            font-size: .75rem;
            font-weight: 600;
            color: #2b3996;
            &:hover {
            color: #fff;
            background: #2b3996;
            }
        }

        .btn-reverse {
            color: #fff;
            background: #2b3996; 
            &:hover {
                color: #2b3996;
                background: #fff
            }
        }

        .btn-red {
            color: #9c0201;
            box-shadow: 0 0 0 2px #9c0201;
            &:hover {
                color: #fff;
                background: #9c0201
            }
        }
        
        .btn-red-reverse {
            background: #9c0201;
            color: #fff;
            box-shadow: 0 0 0 2px #9c0201;
            &:hover {
                color: #9c0201;
                background: #fff
            }
        }

        .btn-naked {
            box-shadow: 0 0 0 2px transparent;
            &:hover {
                color: #9c0201;
                background: transparent
            }
        }

        .sdx-checkbox {
            display: block;
            line-height: 15px;
            margin: 10px 0;
            label {
                font-size: 13px;
                line-height: 18px;
                margin-left: 5px;
                color: #545454;
                font-weight: 600;
                position: relative;
                &:before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    line-height: 25px;
                    float: left;
                    transition: .3s all;
                }

            }
            input {
                display: none;
                &:checked {
                    & ~ label {
                        &:before {
                            border:1px solid yellowgreen;
                            box-shadow: inset 0 0 0 5px #fff;
                            background-color: yellowgreen;
                        }
                    }
                } 
            }
        }
  
        .sdx-radio {
            display: block;
            line-height: 15px;
            margin: 10px 0;
            label {
                font-size: 13px;
                line-height: 18px;
                margin-left: 5px;
                color: #545454;
                font-weight: 600;
                position: relative;
                &:before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    line-height: 25px;
                    float: left;
                    transition: .3s all;
                }

            }
            input {
                display: none;
                &:checked {
                    & ~ label {
                        &:before {  
                            border:1px solid yellowgreen;
                            box-shadow: inset 0 0 0 5px #fff;
                            background-color: yellowgreen;
                        }
                    }
                } 
            }
        }

    }
    
}