nav {
    width: 100%;
    display: block; 
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 0 1px rgba(67,90,111,.415);
    height: $nav-height;
    line-height: $nav-height;
    background-color: #fff;
    container {
        position: relative; 
        width: calc(100% - 20px);
        display: block;
        margin: 0 auto; 
        padding: 0 10px;
        version {
            right: 10px;
            position: absolute;
            font-size: 13px;
        }
        brand {
            display: inline-block;
            width: $nav-height;
            height: $nav-height;
            background-image: url(../../assets/logo.png);
            background-position: center center;
            background-size: 40px;
            background-repeat: no-repeat;
            position: absolute;
            img {
                height: calc(#{$nav-height} - 10px);
                margin-top: 5px;
            }
        }
        ul {
            display: inline-block;
            padding: 0;
            margin: 0 0 0 100px;
            li {
                list-style-type: none;
                margin-left: 20px;
                display: inline-block;
                font-size: .78rem;
                font-weight: 400; 
                a {
                    color: #545454;
                    text-decoration: none;
                    padding: 10px 20px;
                }
                &:last-child {
                    a {
                        background-color: rgba(1,108,209,.057);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

sidenav {
    position: fixed;
    top: 50px;
    left: 0;
    width: $sidenav-width;
    height: calc(100vh - 50px);
    box-shadow: 0 1px 0px rgba(67,90,111,.415);
    background-color: #f7f8fa;
    overflow-y: auto;
    overflow-x: hidden;
    ul {
        padding: 0;
        margin: 30px auto 0;
        width: 90%;
        display: block;
        li {
            display: block;
            padding: 8px 5px;
            width: calc(100% - 10px);
            border-radius: 3px;
            font-size: .95rem;
            &:hover {
                background-color: rgba(67,90,111,.041);
            }
            a {
                text-decoration: none;
                color:#56748f;
                width: 100%;
                display: block;
            }
        }
    }
}