@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&subset=latin-ext');

$nav-height: 60px;
$sidenav-width: 200px;

/*** FONTS */
@font-face {
    font-family: 'sansa_problack';
    src: url("../../assets/fonts/sansapro-black-webfont.woff2") format("woff2"),url("../../assets/fonts/sansapro-black-webfont.woff") format("woff"),url("../../assets/fonts/sansapro-black-webfont.ttf") format("truetype"),url("../../assets/fonts/sansapro-black-webfont.svg#sansa_problack") format("svg");
    font-weight: normal;
    font-style: normal
}
 
@font-face {
    font-family: 'sansa_probold';
    src: url("../../assets/fonts/sansapro-bold-webfont.woff2") format("woff2"),url("../../assets/fonts/sansapro-bold-webfont.woff") format("woff"),url("../../assets/fonts/sansapro-bold-webfont.ttf") format("truetype"),url("../../assets/fonts/sansapro-bold-webfont.svg#sansa_probold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'sansa_prolight';
    src: url("../../assets/fonts/sansapro-light-webfont.woff2") format("woff2"),url("../../assets/fonts/sansapro-light-webfont.woff") format("woff"),url("../../assets/fonts/sansapro-light-webfont.ttf") format("truetype"),url("../../assets/fonts/sansapro-light-webfont.svg#sansa_prolight") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'sansa_pronormal';
    src: url("../../assets/fonts/sansapro-normal-webfont.woff2") format("woff2"),url("../../assets/fonts/sansapro-normal-webfont.woff") format("woff"),url("../../assets/fonts/sansapro-normal-webfont.ttf") format("truetype"),url("../../assets/fonts/sansapro-normal-webfont.svg#sansa_pronormal") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'sansa_prosemibold';
    src: url("../../assets/fonts/sansapro-semibold-webfont.woff2") format("woff2"),url("../../assets/fonts/sansapro-semibold-webfont.woff") format("woff"),url("../../assets/fonts/sansapro-semibold-webfont.ttf") format("truetype"),url("../../assets/fonts/sansapro-semibold-webfont.svg#sansa_prosemibold") format("svg");
    font-weight: normal;
    font-style: normal
}


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
    font-family: 'Nunito', sans-serif;
}
