@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&subset=latin-ext");
/*** FONTS */
@font-face {
  font-family: 'sansa_problack';
  src: url("../../assets/fonts/sansapro-black-webfont.woff2") format("woff2"), url("../../assets/fonts/sansapro-black-webfont.woff") format("woff"), url("../../assets/fonts/sansapro-black-webfont.ttf") format("truetype"), url("../../assets/fonts/sansapro-black-webfont.svg#sansa_problack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sansa_probold';
  src: url("../../assets/fonts/sansapro-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/sansapro-bold-webfont.woff") format("woff"), url("../../assets/fonts/sansapro-bold-webfont.ttf") format("truetype"), url("../../assets/fonts/sansapro-bold-webfont.svg#sansa_probold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sansa_prolight';
  src: url("../../assets/fonts/sansapro-light-webfont.woff2") format("woff2"), url("../../assets/fonts/sansapro-light-webfont.woff") format("woff"), url("../../assets/fonts/sansapro-light-webfont.ttf") format("truetype"), url("../../assets/fonts/sansapro-light-webfont.svg#sansa_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sansa_pronormal';
  src: url("../../assets/fonts/sansapro-normal-webfont.woff2") format("woff2"), url("../../assets/fonts/sansapro-normal-webfont.woff") format("woff"), url("../../assets/fonts/sansapro-normal-webfont.ttf") format("truetype"), url("../../assets/fonts/sansapro-normal-webfont.svg#sansa_pronormal") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sansa_prosemibold';
  src: url("../../assets/fonts/sansapro-semibold-webfont.woff2") format("woff2"), url("../../assets/fonts/sansapro-semibold-webfont.woff") format("woff"), url("../../assets/fonts/sansapro-semibold-webfont.ttf") format("truetype"), url("../../assets/fonts/sansapro-semibold-webfont.svg#sansa_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif; }

nav {
  width: 100%;
  display: block;
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0 1px rgba(67, 90, 111, 0.415);
  box-shadow: 0 0 1px rgba(67, 90, 111, 0.415);
  height: 60px;
  line-height: 60px;
  background-color: #fff; }
  nav container {
    position: relative;
    width: calc(100% - 20px);
    display: block;
    margin: 0 auto;
    padding: 0 10px; }
    nav container version {
      right: 10px;
      position: absolute;
      font-size: 13px; }
    nav container brand {
      display: inline-block;
      width: 60px;
      height: 60px;
      background-image: url(../../assets/logo.png);
      background-position: center center;
      background-size: 40px;
      background-repeat: no-repeat;
      position: absolute; }
      nav container brand img {
        height: calc(60px - 10px);
        margin-top: 5px; }
    nav container ul {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 100px; }
      nav container ul li {
        list-style-type: none;
        margin-left: 20px;
        display: inline-block;
        font-size: .78rem;
        font-weight: 400; }
        nav container ul li a {
          color: #545454;
          text-decoration: none;
          padding: 10px 20px; }
        nav container ul li:last-child a {
          background-color: rgba(1, 108, 209, 0.057);
          border-radius: 5px; }

sidenav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 50px);
  -webkit-box-shadow: 0 1px 0px rgba(67, 90, 111, 0.415);
  box-shadow: 0 1px 0px rgba(67, 90, 111, 0.415);
  background-color: #f7f8fa;
  overflow-y: auto;
  overflow-x: hidden; }
  sidenav ul {
    padding: 0;
    margin: 30px auto 0;
    width: 90%;
    display: block; }
    sidenav ul li {
      display: block;
      padding: 8px 5px;
      width: calc(100% - 10px);
      border-radius: 3px;
      font-size: .95rem; }
      sidenav ul li:hover {
        background-color: rgba(67, 90, 111, 0.041); }
      sidenav ul li a {
        text-decoration: none;
        color: #56748f;
        width: 100%;
        display: block; }

#get-started {
  height: calc(75vh - 50px);
  position: relative; }
  #get-started .title-hero {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #336699;
    display: block;
    font-size: 4.1rem;
    text-align: center;
    font-weight: 200;
    margin: 0;
    line-height: 3.9rem;
    z-index: 2; }
    #get-started .title-hero aside{
      opacity : .5;
      font-size: 2.5rem;
    }
    #get-started .title-hero .download-link {
      position: relative;
      line-height: 1rem;
      font-size: 13px;
      padding: 15px 20px 13px;
      background-color: #9c0201;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 5px;
      display: block;
      width: 120px;
      margin: 40px auto; }
    #get-started .title-hero i {
      font-style: normal;
      color: #9c0201;
      display: inline-block;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transition: .5s all;
      transition: .5s all; }

hero {
  width: calc(100% - 200px);
  margin-top: 50px;
  float: right;
  display: block;
  padding-bottom: 50px; }
  hero container {
    position: relative;
    width: 620px;
    display: block;
    margin: 0 auto; }
  hero #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  hero h2 {
    font-size: 1.4rem;
    padding: 75px 0 0 0;
    font-weight: 400;
    color: #2b3996;
    position: relative; }
    hero h2:after {
      display: block;
      height: 2px;
      margin-top: 7px;
      width: 80px;
      content: '';
      background-color: #f00; }
  hero .showcase h6 {
    font-family: 'sansa_problack',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 3.5rem;
    margin: 10px 0;
    padding: 0;
    color: #13293d; }
    hero .showcase h6:nth-child(2) {
      font-family: 'sansa_probold',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      font-size: 3rem; }
    hero .showcase h6:nth-child(3) {
      font-family: 'sansa_prosemibold',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      font-size: 2.5rem; }
    hero .showcase h6:nth-child(4) {
      font-family: 'sansa_pronormal',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      font-size: 2rem; }
    hero .showcase h6:nth-child(5) {
      font-family: 'sansa_prolight',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      font-size: 1.5rem; }
    hero .showcase h6:nth-child(6) {
      font-family: 'sansa_pronormal',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      font-size: 15px; }
  hero .showcode b {
    display: inline-block;
    -webkit-transform: translate(10px, 40px);
    transform: translate(10px, 40px);
    color: #afc0cf;
    font-size: 12.5px;
    font-weight: 600; }
  hero .showcode code {
    display: block;
    width: 100%;
    overflow-x: scroll; }
    hero .showcode code::-webkit-scrollbar {
      width: 2px;
      height: 3px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 100px; }
    hero .showcode code::-webkit-scrollbar:hover {
      background-color: rgba(0, 0, 0, 0.09); }
    hero .showcode code::-webkit-scrollbar-thumb:vertical {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 100px; }
    hero .showcode code::-webkit-scrollbar-thumb:vertical:active {
      background: rgba(0, 0, 0, 0.61);
      border-radius: 100px; }

#colors color {
  text-align: center;
  width: calc(23%);
  line-height: 40px;
  padding: 30px 20px;
  background-color: #ff0000;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  /* -webkit-box-shadow: 0px 1px 11px 0px #c7c7c7;
  box-shadow: 0px 1px 11px 0px #c7c7c7; */
  -webkit-transition: .3s all;
  transition: .3s all; }
  #colors color:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  #colors color span {
    display: block;
    font-size: 12px;
    opacity: .7; }
  #colors color:nth-child(2) {
    background-color: #2A295C;
    color: #fff; }
  #colors color:nth-child(3) {
    background-color: #d3d0c9;
    color: #545454; }
  #colors color:nth-child(4) {
    background-color: #65676a;
    color: #fff; }
  #colors color:nth-child(5) {
    background-color: #ffffff;
    color: #545454; }
  #colors color:nth-child(6) {
    background-color: #2b2b2b;
    color: #f5f5f5; }

/* #form-elements .input-group {
  margin: 10px 0 40px; }
  #form-elements .input-group small {
    margin-bottom: 5px;
    font-weight: 400;
    color: #6d6d6d;
    display: block; }
  #form-elements .input-group .sdx-input {
    outline: none;
    border: 0;
    width: calc(100% - 20px);
    padding: 10px;
    -webkit-box-shadow: 0 0 0 0.1rem #b7b7b7;
    box-shadow: 0 0 0 0.1rem #b7b7b7;
    border-radius: .35rem; }
    #form-elements .input-group .sdx-input:focus {
      -webkit-box-shadow: 0 0 0 0.1rem #2b3996;
      box-shadow: 0 0 0 0.1rem #2b3996; } */
  /* #form-elements .input-group .sdx-select {
    outline: none;
    border: 0;
    width: calc(100% - 0px);
    padding: 8px;
    -webkit-box-shadow: 0 0 0 0.1rem #b7b7b7;
    box-shadow: 0 0 0 0.1rem #b7b7b7;
    border-radius: .35rem; }
    #form-elements .input-group .sdx-select:focus {
      -webkit-box-shadow: 0 0 0 0.1rem #2b3996;
      box-shadow: 0 0 0 0.1rem #2b3996; } */

  #form-elements .input-group .sdx-btn-xl {
    cursor: pointer;
    margin: 10px 10px 10px 0;
    outline: none;
    border: 0;
    padding: 10px 40px;
    -webkit-box-shadow: 0 0 0 2px #2b3996;
    box-shadow: 0 0 0 2px #2b3996;
    border-radius: 3px;
    background: #fff;
    font-size: 1rem;
    font-weight: 600;
    color: #2b3996; }
    #form-elements .input-group .sdx-btn-xl:hover {
      color: #fff;
      background: #2b3996; }
  #form-elements .input-group .sdx-btn-lg {
    cursor: pointer;
    margin: 10px;
    outline: none;
    border: 0;
    padding: 10px 30px;
    -webkit-box-shadow: 0 0 0 2px #2b3996;
    box-shadow: 0 0 0 2px #2b3996;
    border-radius: 3px;
    background: #fff;
    font-size: .85rem;
    font-weight: 600;
    color: #2b3996; }
    #form-elements .input-group .sdx-btn-lg:hover {
      color: #fff;
      background: #2b3996; }
  #form-elements .input-group .sdx-btn-md {
    cursor: pointer;
    margin: 10px;
    outline: none;
    border: 0;
    padding: 7px 20px;
    -webkit-box-shadow: 0 0 0 2px #2b3996;
    box-shadow: 0 0 0 2px #2b3996;
    border-radius: 3px;
    background: #fff;
    font-size: .75rem;
    font-weight: 600;
    color: #2b3996; }
    #form-elements .input-group .sdx-btn-md:hover {
      color: #fff;
      background: #2b3996; }
  #form-elements .input-group .sdx-btn-sm {
    cursor: pointer;
    margin: 10px;
    outline: none;
    border: 0;
    padding: 5px 15px;
    -webkit-box-shadow: 0 0 0 2px #2b3996;
    box-shadow: 0 0 0 2px #2b3996;
    border-radius: 3px;
    background: #fff;
    font-size: .75rem;
    font-weight: 600;
    color: #2b3996; }
    #form-elements .input-group .sdx-btn-sm:hover {
      color: #fff;
      background: #2b3996; }
  #form-elements .input-group .btn-reverse {
    color: #fff;
    background: #2b3996; }
    #form-elements .input-group .btn-reverse:hover {
      color: #2b3996;
      background: #fff; }
  #form-elements .input-group .btn-red {
    color: #9c0201;
    -webkit-box-shadow: 0 0 0 2px #9c0201;
    box-shadow: 0 0 0 2px #9c0201; }
    #form-elements .input-group .btn-red:hover {
      color: #fff;
      background: #9c0201; }
  #form-elements .input-group .btn-red-reverse {
    background: #9c0201;
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px #9c0201;
    box-shadow: 0 0 0 2px #9c0201; }
    #form-elements .input-group .btn-red-reverse:hover {
      color: #9c0201;
      background: #fff; }
  #form-elements .input-group .btn-naked {
    -webkit-box-shadow: 0 0 0 2px transparent;
    box-shadow: 0 0 0 2px transparent; }
    #form-elements .input-group .btn-naked:hover {
      color: #9c0201;
      background: transparent; }
  #form-elements .input-group .sdx-checkbox {
    display: block;
    line-height: 15px;
    margin: 10px 0; }
    #form-elements .input-group .sdx-checkbox label {
      font-size: 13px;
      line-height: 18px;
      margin-left: 5px;
      color: #545454;
      font-weight: 600;
      position: relative; }
      #form-elements .input-group .sdx-checkbox label:before {
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        line-height: 25px;
        float: left;
        -webkit-transition: .3s all;
        transition: .3s all; }
    #form-elements .input-group .sdx-checkbox input {
      display: none; }
      #form-elements .input-group .sdx-checkbox input:checked ~ label:before {
        border: 1px solid yellowgreen;
        -webkit-box-shadow: inset 0 0 0 5px #fff;
        box-shadow: inset 0 0 0 5px #fff;
        background-color: yellowgreen; }
  #form-elements .input-group .sdx-radio {
    display: block;
    line-height: 15px;
    margin: 10px 0; }
    #form-elements .input-group .sdx-radio label {
      font-size: 13px;
      line-height: 18px;
      margin-left: 5px;
      color: #545454;
      font-weight: 600;
      position: relative; }
      #form-elements .input-group .sdx-radio label:before {
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        line-height: 25px;
        float: left;
        -webkit-transition: .3s all;
        transition: .3s all; }
    #form-elements .input-group .sdx-radio input {
      display: none; }
      #form-elements .input-group .sdx-radio input:checked ~ label:before {
        border: 1px solid yellowgreen;
        -webkit-box-shadow: inset 0 0 0 5px #fff;
        box-shadow: inset 0 0 0 5px #fff;
        background-color: yellowgreen; }

        #grid>p{
          margin: 15px 0;
        }
        #grid .showcase .container{
          background-color: #2f3640;
          padding: 20px 0;
         
        }

        #grid .showcase div{
          height: 50px;
          box-shadow: 0 0 0 1px #6d6d6d;
          background-color: #353c47;
          color: #fff;
        }

        #grid .showcase div span{
          margin-left: 10px;
          transition: .3s all;
          opacity: 0;
        }

        #grid .showcase div:hover span{
          opacity: 1;
        }